#projects {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.projectsTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1rem;
}

.projectsDesc {
    font-weight: 300;
    font-size: 1.25rem;
    max-width: 45rem;
}

.projectsBars {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.projectsBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.projectsBarImg {
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    margin-right: 2rem;
    border-radius: 20%;
}

.projectsBarText>p {
    font-size: 0.9rem;
    font-weight: 200;
}